@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme {
    --color-black-brown: #130E08
}

.switch-toggle {
    position: relative;
    padding: 5px;
}

.switch-toggle::after {
    content: "";
    position: absolute;
    background-color: white;
    display: flex;
    border-radius: 50px;
    height: calc(100% - 10px);
    width: calc(50% - 5px);
    z-index: 0;
}